# Misc files
.vscode
.DS_Store
nogit*
__pycache__
fort.20
screenlog.0

# Model files
set_rad_env
radiation_code.lock
bin/
sbin/Cgen_null
sbin/Cinc_field
sbin/Cscale_field

# Outputs
spectraltools/output
spectraltools/output/
spectraltools/data
spectraltools/data/
